@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap');

.homeTop{
    background-image: url('../../assets/img/db_header.jpg');
    background-position: center;
    background-size: cover;
    padding :60px 0;
    color:#fff;
    text-align: center;
}

.homeTop h2{
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
}

.homeTop p{
    font-size: 20px;
}

form{
    text-align: left;
}


input:focus,
textarea:focus,
button:focus{
    border-color: none !important;
    box-shadow: none !important;
    outline: 0 none !important;
}

.searchForm{
    position: relative;
}
.searchCheckbox{
    overflow: hidden;
}
.searchCheckbox > .form-group{
    float: left;
    padding: 0 40px;
}


.everyWrapper{
    border: 2px solid #fbe9e7;
    border-radius: 2px;
    margin: 10px 0;
    padding:10px 10px;
    display: block;
    height: 110px;
    overflow: hidden;
    transition: 300ms;
}
.everyWrapper:hover{
    transition-delay: 500ms;
    height: 90%;
}

.everyWrapper h3 a{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color:#444;
}

.everyWrapper .user{
    color:#df4f37;
    margin-bottom: 5px;
}
.everyWrapper .user svg{
    font-size: 12px;
}
.everyWrapper .date{
    color:grey;
    font-size:12px;
}

.everyWrapper .detail{
    font-weight: 400;
    font-size: 14px;
}