.proPic{
    position: relative;
}
.proPic svg{
    position: absolute;
    top:165px;
    left: 15px;
    color: #df4f37;
    background-color: #fff;
    font-size: 45px;
    padding: 12px;
    border-radius:100px;
    cursor:pointer;
}

.profile-header{
    background-color: #df4f37;
    color:#fff;
    padding: 40px;
}

.profile-header h2{
    font-weight: 600;
    display: inline;
}

.occupation{
    display: inline;
    font-size: 16px;
    font-weight: bold;
    margin: 0 20px;
    position: absolute;
    top:10px;
}
.occupation span{
    font-size: 14px;
    font-weight:200;
}
.occupation::before{
    content: "- ";
}

.profile-header .header{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0;
    font-weight: 400;
    font-size: 16px;
}

.linkSpan{
    list-style-type: none;
    margin: 0;
    margin-left: -40px;
}

.linkSpan li{
    float: left;
    overflow: hidden;
    display: block;
    margin-right: 20px;
}

.linkSpan li a{
    color: #fff;
}

.btnCustom{
    color: #df4f37 !important;
    background: #fff;
    border: none;
    font-weight: bold;
    padding:7px 25px;
    margin-top: 20px;
}
.btnCustom:hover{
    color: #df4f37 !important;
    background: #fff;
}

.update-section form label{
    color:#df4f37;
}
.update-section h2{
    color: #df4f37;
}

.form-control{
    border-radius: 2px;
}