.Login{
    margin-top: 150px;
}
.loginLeft{
    text-align: right;
    padding-right: 80px;
    padding-top: 80px;
    position: relative;
}

.loginLeft h2 >a{
    font-weight: 500;
}

.loginLeft a{
    font-weight: 700;
}

.loginLeft::after{
    position: absolute;
    content: "";
    height: 150px;
    width: 5px;
    right:25px;
    top:45px;
    background-color: #df4f37;
    border-radius: 5px;
}


.loginRight .rightSpan{
    float: right;
}

input:focus,
textarea:focus,
button:focus{
    border-color: none !important;
    box-shadow: none !important;
    outline: 0 none !important;
}

.loginRight button{
    background-color: #df4f37;
    border: none;
    padding: 5px 25px 5px 25px;
}

.loginRight button:hover{
    background-color: orangered;
}